In [19]:
import pandas as pd

students_marks = {
    'roll_no' : [1,2,3,4,5,6,7,8,9,10],
    'marks' : [99,75,65,89,23,65,94,67,86,72]
}

df = pd.DataFrame(students_marks)

In [20]:
df

   roll_no  marks
0        1     99
1        2     75
2        3     65
3        4     89
4        5     23
5        6     65
6        7     94
7        8     67
8        9     86
9       10     72

In [21]:
df.to_csv('Students_Marks.csv')

In [22]:
new_df = pd.read_csv('Students_Marks.csv')

In [23]:
data = new_df['marks'].to_list()

In [24]:
data

[99, 75, 65, 89, 23, 65, 94, 67, 86, 72]

# Measure of Central Tendency

In [25]:
# Mean
def calculate_mean(data):
    mean = sum(data)/len(data)
    return mean

# Medians
def calculate_median(data):
    sorted_data = sorted(data)
    n = len(sorted_data)
    mid = n // 2
    if n % 2 == 0:
        median = (sorted_data[mid - 1] + sorted_data[mid]) / 2
    else:
        median = sorted_data[mid]
    return median

# Mode
def calculte_mode(data):
    freq = {}
    for val in data:
        freq[val] = freq.get(val, 0) + 1
    max_freq = max(freq.values())
    mode = [key for key, value in freq.items() if value == max_freq]
    return mode[0]

In [ ]:
# Output
print('Central Tendency Without Inbuilt Functions')
print(f'Mean: {calculate_mean(data)}')
print(f'Median: {calculate_median(data)}')
print(f'Mode: {calculte_mode(data)}')

Central Tendency Inbuilt Functions
Mean: 73.5
Median: 73.5
Mode: 65

In [ ]:
from statistics import mean, median, mode

# Output
print('Central Tendency With Inbuilt Functions')
print(f'Mean: {mean(data)}')
print(f'Median: {median(data)}')
print(f'Mode: {mode(data)}')

Central Tendency With Inbuilt Functions
Mean: 73.5
Median: 73.5
Mode: 65