In [13]:
import pandas as pd

# Sample dataset with qualitative and quantitative data types
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Gender': ['Female', 'Male', 'Male', 'Male'],
    'Education Level': ['Bachelor', 'Master', 'PhD', 'Bachelor'],
    'Age': [25, 30, 45, 22],
    'Height (cm)': [160.5, 175.2, 168.0, 180.3],
    'Married': ['No', 'Yes', 'Yes', 'No'],
}

df = pd.DataFrame(data)
df

      Name  Gender Education Level  Age  Height (cm) Married
0    Alice  Female        Bachelor   25        160.5      No
1      Bob    Male          Master   30        175.2     Yes
2  Charlie    Male             PhD   45        168.0     Yes
3    David    Male        Bachelor   22        180.3      No

### Data Types Classification

We classify the data into **qualitative** and **quantitative** as follows:

| Column           | Type                    | Explanation                                     |
|------------------|--------------------------|-------------------------------------------------|
| Name             | Qualitative - Nominal    | Just labels (names)                             |
| Gender           | Qualitative - Nominal    | Categories with no order                        |
| Education Level  | Qualitative - Ordinal    | Ordered categories (Bachelor < Master < PhD)   |
| Age              | Quantitative - Discrete  | Countable integers                              |
| Height (cm)      | Quantitative - Continuous| Measurable, can include decimals                |
| Married          | Qualitative - Nominal    | Binary category (Yes/No)                        |

In [14]:
column_types = {
    'Name': 'Qualitative - Nominal',
    'Gender': 'Qualitative - Nominal',
    'Education Level': 'Qualitative - Ordinal',
    'Age': 'Quantitative - Discrete',
    'Height (cm)': 'Quantitative - Continuous',
    'Married': 'Qualitative - Nominal',
}

for col, dtype in column_types.items():
    print(f"{col}: {dtype}")

Name: Qualitative - Nominal
Gender: Qualitative - Nominal
Education Level: Qualitative - Ordinal
Age: Quantitative - Discrete
Height (cm): Quantitative - Continuous
Married: Qualitative - Nominal

In [15]:
# Pandas inferred data types
df.dtypes

Name                object
Gender              object
Education Level     object
Age                  int64
Height (cm)        float64
Married             object
dtype: object

# Assignment

In [16]:
data = {
    'Student' : ['A','B','C','D','E'],
    'Gender' : ['Male','Female','Male','Female','Male'],
    'Stream' : ['Science','Commerce', 'Arts','Science','Commerce'],
    'Attendance (%)' : [85,92,75,88,60],
    'Study Hours/Week' : [10,14,7,11,6],
    'Grade' : ['B','A','C','B','D'],
    'Hostel Resident' : ['Yes','No','Yes','No','Yes']
}
df = pd.DataFrame(data)

In [17]:
df

,Student,Gender,Stream,Attendance (%),Study Hours/Week,Grade,Hostel Resident
0,A,Male,Science,85,10,B,Yes
1,B,Female,Commerce,92,14,A,No
2,C,Male,Arts,75,7,C,Yes
3,D,Female,Science,88,11,B,No
4,E,Male,Commerce,60,6,D,Yes

### Data Types Classification

Classifying data into their types and subtypes

| Column           |Type(Quantitative/Qualitative)| Subtype |
|------------------|------------------------------|---------|
| Student          |           Qualitative        | Nominal |
| Gender           |           Qualitative        | Nominal |
| Stream           |           Qualitative        | Nominal |
| Attendance (%)   |           Quantitative       | Discrete|
| Study Hours/Week |           Quantitative       | Discrete|                
| Grade            |           Qualitative        | Ordinal |
| Hostel Resident  |           Qualitative        | Nominal |

In [18]:
column_types = {
    'Student': 'Qualitative - Nominal',
    'Gender': 'Qualitative - Nominal',
    'Stream': 'Qualitative - Ordinal',
    'Attendance (%)': 'Quantitative - Discrete',
    'Study Hours/Week': 'Quantitative - Discrete',
    'Grade': 'Qualitative - Ordinal',
    'Hostel Resident' : 'Qualitative - Nominal'
}

for col, dtype in column_types.items():
    print(f"{col}: {dtype}")

Student: Qualitative - Nominal
Gender: Qualitative - Nominal
Stream: Qualitative - Ordinal
Attendance (%): Quantitative - Discrete
Study Hours/Week: Quantitative - Discrete
Grade: Qualitative - Ordinal
Hostel Resident: Qualitative - Nominal

In [19]:
df.dtypes

Student             object
Gender              object
Stream              object
Attendance (%)       int64
Study Hours/Week     int64
Grade               object
Hostel Resident     object
dtype: object